<div class="wrapper">
  <img src="../../../../assets/images/" />
  <h2>Nived S</h2>
  <i class="fas fa-bell" style="font-size:25px"></i>
</div>
<div class="container">
  <div class="you">
    <p>Hai man,i need you help</p>
    <span class="time-right">10:00</span>
  </div>
  <div class="other">
    <p>Symbols are available in three styles and four adjustable variable font styles</p>
    <span class="time-left">12:01</span>
  </div>
  <div class="you">
    <p>Hello!Will soon</p>
    <span class="time-right">12:03</span>
  </div>
  <div class="other">
    <p>Ok,</p>
    <span class="time-left">12:10</span>
  </div>
  <br />
  <br />
  <div>
    <input type="text" id="name" placeholder="Type something....." />
    <input type="submit" value="Submit" />
  </div>
</div>
