@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400 !important;
  src: url('../../../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans-Semibold';
  font-style: semi-bold;
  font-weight: 600 !important;
  src: url('../../../assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400 !important;
  src: url('../../../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 400 !important;
  src: url('../../../assets/fonts/Roboto-Medium.ttf') format('truetype');
}