$url-brand: '~/assets/images/brand.png';
$font-family: 'Roboto';
$font-bold-family: 'Open Sans-Semibold';
$color-card-text: #fff;
$url-email: '~/assets/images/icon_email.png';
$url-password: '~/assets/images/icon_password.png';
$url-prev: '~/assets/images/icon_previous_normal.png';
$url-next: '~/assets/images/icon_next_normal.png';
$edit-cursor-light-theme: '~/assets/images/pen-black.svg';
$edit-cursor-dark-theme: '~/assets/images/pen-white.svg';
