@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';
$nb-enable-css-custom-properties: true;
$nb-enabled-themes: (icx-dark-theme, icx-light-theme);
$nb-themes: nb-register-theme(
  (
    hamburger-menu: #ffffff,
    header-height: 3.5rem,
    footer-height: 1rem,
    footer-padding: 0.5rem,
    footer-background-color: #161719,
    tooltip-background-color: #000,
    tooltip-text-color: #fff,
    tooltip-text-font-size: 0.6rem,
    text-paragraph-font-size: 0.6rem,
    sidebar-width: 16rem,
    sidebar-text-font-size: 0.5rem,
    sidebar-text-font-weight: 300,
    text-hover: #ffffff,
    theme-icon-color: #ffffff,
    menu-item-hover-text-color: #ffffff,
    menu-item-icon-hover-color: #ffffff,
    menu-item-active-text-color: #ffffff,
    menu-item-icon-active-color: #ffffff,
    card-header-color: #333338,
    custom-scrollbar-color: #414350,
    table-header-bg-color: #2e2929,
    table-header-color: #ffffff,
    table-even-row-color: #818291,
    box-color: #bac8dc,
    box-border: #161719,
    card-color: #212124,
    color-basic-1000: #161719,
    color-basic-800: #1d1f24,
    shadow: 0 0.5rem 1rem 0 #161719,
    sidebar-menu-item-highlight-color: #ffffff,
    card-header-text-color: #f5eeed,
    card-text-color: #f5eeed,
    good-box-color: #37872d,
    bad-box-color: #c4162a,
    default-box-color: #212124,
    select-option-background-color: #212124,
    menu-hover-background-color: #212124,
    select-option-selected-text-color: #fefefe,
    select-option-text-color: #8f9bb3,
    select-option-focus-text-color: #fefefe,
    select-outline-basic-focus-border-color: #000000,
    select-option-hover-text-color: #f5eeed,
    select-outline-basic-background-color: #161719,
    select-outline-basic-border-color: #101426,
    select-border-focus: #1f1f25,
    layout-padding: 1rem,
    spinner-color: #fff,
    default-box-text-color: #f5eeed,
    default-box-text-normal-color: #37872d,
    warning-box-color: #e0b400,
    spinner-primary-circle-filled-color: #f5eeed,
    card-header-font-color: #f5eeed,
    input-background-color: #192038,
    input-text-color: #ffffff,
    input-border-color: #3366ff,
    error-block-color: #ff3516,
    login-icon-color: #2d51bd,
    login-btn-color: #2d51bd,
    login-btn-text-color: #ffffff,
    chart-border-color: #212124,
    box-header-color: #212124,
    box-border-color: #212124,
    login-card-bg-color: #1e263e,
    login-card-border-color: #101426,
    db-table-header-color: #fff,
    db-table-font-color: #ffffff,
    db-table-row-color: #212124,
    db-table-border-color: #161719,
    db-table-header-bg: #2e3856,
    info-header-bg: #303034,
    custom-table-body-color: #212124,
    custom-table-header-color: #2b2b2d,
    pop-up-table-header-color: #2b2b2d,
    table-icon-color: #33b5e5,
    table-sub-header-color: #33b5e5,
    no-data-color: #ffffff,
    panel-button-color: #161719,
    filter-label-color: #32d1df,
    menu-item-hover-background-color: #212124,
    dashboard-title-color: #1968b3,
    pop-up-header-color: #1968b3,
    pop-up-table-header-text-color: #33b5e5,
    refresh-item-color: #ffffff,
    pop-up-header-text-color: #ffffff,
    pop-up-card-scrollbar: #1968b3,
    footer-text-color: #ffffff,
    disabled-date: #808080,
    cancel-btn: #8f9bb3,
    info-bg: rgba(18, 18, 18, 0.4),
    device-details-table-border: #919191,
    nav-btn-bg: #f2f2f2,
    device-details-table-header: #333333,
    device-details-param-bg: #333333,
    hex-text-color: #ffffff,
    p-select-border: #46494a,
    p-panel-bg-color: #252525,
    p-select-box-shadow-color: #334756,
    p-select-li-text-color: #ded8d8,
    badge-highight-color: #fc0303,
    text-link: #1ca2f0,
    card-sub-body: #444444,
    bad-box-color-2: #b1201c,
    text-color-1: #ffffff,
    editable-table-header: #47474f,
    edit-disabled-bg-color: #212124f2,
    edit-disabled-text-color: #ffffff57,
    normal-ellipsis-color: #ffffff,
    multi-ellipsis-color: #ffffff
  ),
  icx-dark-theme,
  dark
);
$nb-themes: nb-register-theme(
  (
    hamburger-menu: #000000,
    header-height: 3.5rem,
    footer-height: 1rem,
    footer-padding: 0.5rem,
    footer-background-color: #ffffff,
    tooltip-background-color: #000,
    tooltip-text-color: #fff,
    tooltip-text-font-size: 0.6rem,
    text-paragraph-font-size: 0.6rem,
    sidebar-width: 16rem,
    sidebar-text-font-size: 0.5rem,
    sidebar-text-font-weight: 300,
    text-hover: #5662c7,
    theme-icon-color: #000000,
    menu-item-hover-text-color: #68a2e2,
    menu-item-icon-hover-color: #68a2e2,
    menu-item-active-text-color: #68a2e2,
    menu-item-icon-active-color: #68a2e2,
    sidebar-menu-item-highlight-color: #68a2e2,
    card-header-color: #eff0f1,
    custom-scrollbar-color: #5f666d,
    table-header-bg-color: #e2e5ed,
    table-header-color: #000000,
    table-even-row-color: #d7d8e0,
    box-color: #bac8dc,
    box-border: #ece5e5,
    card-header-text-color: #222b45,
    good-box-color: #68a2e2,
    bad-box-color: #f16353,
    card-text-color: #222b45,
    menu-hover-background-color: #f5eeed,
    default-box-color: #d6dde6,
    card-color: #ffffff,
    select-border-focus: rgba(72, 94, 144, 0.16),
    select-option-selected-text-color: #5662c7,
    select-option-hover-text-color: #5662c7,
    layout-padding: 1rem,
    spinner-color: #000,
    default-box-text-color: #000000,
    default-box-text-normal-color: #68a2e2,
    warning-box-color: #f7ba41,
    spinner-primary-circle-filled-color: #d1d5da,
    card-header-font-color: #222b45,
    input-background-color: #ffffff,
    input-text-color: #6f6a6a,
    input-border-color: #3366ff,
    error-block-color: #ff2200,
    login-icon-color: #36f,
    login-btn-color: #36f,
    login-btn-text-color: #ffffff,
    layout-background-color: #ffffff,
    chart-border-color: rgba(72, 94, 144, 0.16),
    box-header-color: #ffffff,
    box-border-color: #f2f3f4,
    select-outline-basic-hover-background-color: #ffffff,
    login-card-bg-color: #fbfcfd,
    login-card-border-color: #afd5ef,
    db-table-header-color: #000,
    db-table-font-color: #000,
    db-table-row-color: #fff,
    db-table-border-color: #e0e0e0,
    db-table-header-bg: #68a2e2,
    info-header-bg: #dedcdc,
    select-outline-basic-border-color: #e2e5ed,
    custom-table-body-color: #fff,
    custom-table-header-color: #338ae6,
    pop-up-table-header-color: #ffffff,
    table-icon-color: #ffffff,
    table-sub-header-color: #64a5ea,
    no-data-color: #222b45,
    panel-button-color: #fdfdfe,
    filter-label-color: #64a5ea,
    menu-item-hover-background-color: #eff0f1,
    dashboard-title-color: #387dca,
    pop-up-header-color: #338ae6,
    pop-up-table-header-text-color: #525151,
    refresh-item-color: #000000,
    pop-up-header-text-color: #ffffff,
    pop-up-card-scrollbar: #57a4f4,
    footer-text-color: #000000,
    disabled-date: #808080,
    cancel-btn: #8f9bb3,
    info-bg: rgba(128, 128, 128, 0.1),
    device-details-table-border: #919191,
    nav-btn-bg: #f2f2f2,
    device-details-table-header: #ccccff,
    device-details-param-bg: #e6e6ff,
    hex-text-color: #ffffff,
    p-select-border: #dce7ea,
    p-panel-bg-color: #fbf8f8,
    p-select-box-shadow-color: #d8d9da,
    p-select-li-text-color: #333333,
    badge-highight-color: #fc0303,
    text-link: #5662c7,
    card-sub-body: #d6dde6,
    bad-box-color-2: #f58059,
    text-color-1: #ffffff,
    editable-table-header: #cdcccc,
    edit-disabled-bg-color: #ececec,
    edit-disabled-text-color: #0000008c,
    normal-ellipsis-color: #68a2e2,
    multi-ellipsis-color: #ffffff
  ),
  icx-light-theme,
  default
);
